@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
   
    a{
        font-size:20px;
    }
        a.Name {
        text-decoration: none;
        outline: none;
        display: inline-block;
        line-height: 45px;
        border-radius: 45px;
        margin: 10px 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 600;
        color: #524f4e;
        background: white;
        box-shadow: 0 8px 15px rgba(0,0,0,.1);
        transition: .3s;
    }

        a.Name:hover {
            background: #2EE59D;
            box-shadow: 0 15px 20px rgba(46,229,157,.4);
            color: white;
            transform: translateY(-7px);
        }

    #team {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 3;
    }

    .card {
        width: 33%;
        min-width: 250px;
        height: 300px;
        overflow: hidden;
        position: relative;
        margin: 0 0.5% 1% 0;
        display: inline-block;
    }

        .card:nth-of-type(3n) {
            margin-right: 0;
        }

        .card img {
            width: 100%;
            min-height: 100%;
            transition: all 0.9s
        }

        .card:hover img {
            transform: scale(1.2,1.2)
        }

    .data {
        position: absolute;
        bottom: 5%;
        background: #fff;
        text-align: center;
        width: 90%;
        height: 80px;
        overflow: hidden;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 10px 5%;
        box-sizing: border-box;
        opacity: 0.8;
        transition: all 0.4s;
        color:black;
    }

    .card:hover .data {
        width: 100%;
        height: 100%;
        bottom: 0;
        opacity: 0.9;
        padding: 90px 10%
    }

    .data h2 {
        margin: 0 0 5px 0;
        transition: color 0.4s
    }

    .data p {
        opacity: 0;
        text-align: justify;
        transition: all 0.2s
    }

    .card:hover .data p, .card:hover .data a {
        opacity: 1
    }

    .data a {
        color: #333;
        text-decoration: none;
        padding: 20px;
        opacity: 0
    }
    h5{
        color:black;
    }

        .data a:hover, .card:hover h2 {
            color: #38c
        }


    .btn-twtr {
        color: #ddd;
        border: 2px solid;
        border-radius: 3px;
        text-decoration: none;
        display: inline-block;
        padding: 5px 10px;
        font-family: sans-serif;
        font-weight: 600;
        margin-top: 100px;
        opacity: 0.8
    }

    h6{
     text-align: center;
     color: #4181ee;
}
 .wrapper{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}
    .card {
        max-width: 500px;
        min-height: 350px;
        padding: 30px;
        box-sizing: border-box;
        color: #FFF;
        margin: 20px;
        box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);
    }
 .card:nth-child(2){
    background: #ba9bf2;
}
 .card:last-child{
    /*background: #ba9bf2;*/
}
    .card-title {
        margin-top: 0;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1.2px;
    }
 .card-content{
     font-size: 14px;
     letter-spacing: 0.5px;
     line-height: 1.5;
}
 .card-btn{
     all: unset;
     display: block;
     margin-left: auto;
     border: 2px solid #FFF;
     padding: 10px 15px;
     border-radius: 25px;
     font-size: 10px;
     font-weight: 600;
     transition: all 0.5s;
     cursor: pointer;
     letter-spacing: 1.2px;
}
 .card-btn:hover{
    color:#ba9bf2;
    background: #FFF;
}
    .card:nth-child(2) .card-btn:hover {
        color: #ba9bf2;
        background: #FFF;
    }
    .card:last-child .card-btn:hover {
        color: #ba9bf2;
        background: #FFF;
    }


    .footer213 {
        display: flex;
        height: 140px;
        font-size: 30px;
        background: #CBCBCB;
    }

    .end11 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .end22 {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .end33 {
        margin-left: auto;
        margin-right: auto;
    }

    .end4 {
        display: flex;
    }

    .mid {
        height: auto;
    }

    .endback1 {
        background: #3A3A3A;
        font-family: Rasa;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 28px;
        padding-top: 18px;
        padding-left: 160px;
        padding-bottom: 18px;
        color: #FFFFFF;
    }

    .endback {
        height: 20px;
        background: #CBCBCB;
    }




    .endtext {
        width: 90%;
        margin: auto;
        margin-top: 26px;
        margin-bottom: 26px;
    }

    .midbackground {
        background-color: #e5e5e5;
    }

    .Filtr2 {
        margin-top: 20px;
        display: flex;
        background-color: #e5e5e5;
        padding-bottom: 20px;
    }

    .Filtr2text {
        display: flex;
    }

    .Filtr2right {
        text-decoration: none;
        color: #000000;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 32px;
        margin-right: 100px;
        margin-left: auto;
        display: flex;
        background-color: #e5e5e5;
    }

    .Filtr2 a {
        text-decoration: none;
        color: #000000;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 32px;
    }

    .Filtr1 {
        display: flex;
    }

    .Filtr1text {
        display: flex;
    }

    .Filtr1right {
        text-decoration: none;
        color: #000000;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 32px;
        margin-right: 100px;
        margin-left: auto;
    }

    .Filtr1 a {
        text-decoration: none;
        color: #000000;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 32px;
    }

    .midle2 a {
        text-decoration: none;
        color: #000000;
        padding-left: 20px;
        padding-right: 20px;
    }

    .midle2 {
        background-color: #e5e5e5;
        display: flex;
        margin: auto;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 84px;
        width: 670px;
        color: #000000;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .midle1 {
        background-color: #e5e5e5;
        margin: auto;
        text-align: center;
        padding-top: 50px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 84px;
        color: #000000;
    }

    .menu1 li {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
        white-space: nowrap;
        text-align: center;
    }

    .menu3 li {
        padding-right: 15px;
        padding-left: 15px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .menu2 li {
        padding-right: 15px;
        padding-left: 15px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .menu2 a {
        text-decoration: none;
        color: #FFFFFF;
    }

    .menu3 a {
        text-decoration: none;
        color: #FFFFFF;
    }

    .menu1 a {
        text-decoration: none;
        color: #000000;
    }

    .menu2 {
        width: 100%;
        background-color: #545454;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 56px;
        color: #FFFFFF;
    }

    .menu-main1 {
        text-align: center;
    }

    .menu1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 56px;
        color: #FFFFFF;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .body {
        max-width: 100%;
    }

    .menu3 {
        width: 100%;
        background-color: #939393;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 56px;
        color: #FFFFFF;
    }

    ul.menu-main3 {
        display: flex;
        list-style: none;
        margin: 0;
        padding-left: 0; 
        height: 85px;
        margin: auto;
        width: 1400px;
    }

    ul.menu-main2 {
        display: flex;
        list-style: none; /*убираем маркеры списка*/
        margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
        padding-left: 0; /*убираем левый отступ, равный 40px*/
        height: 85px;
        margin: auto;
        width: 1600px;
    }

    ul.menu-main1 {
        width: 100%;
        display: flex;
        list-style: none; /*убираем маркеры списка*/
        margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
        padding-left: 0; /*убираем левый отступ, равный 40px*/
    }

    @@media screen and (max-width:1800px) {
        ul.menu-main1 {
            display: block;
        }
    }


    a {
        display: block;
    }

    .header {
        list-style: none;
        text-align: center;
        background: white;
    }

    .body {
        margin: 0;
        position: relative;
        margin-bottom: 0px;
    }

</style>




<div class="fix">
    <div class="menu2">
        <ul class="menu-main2">
            <li><a href="" class="current">Концерты</a></li>
            <li><a href=""></a>Спектакли</li>
            <li><a href="">Выставки</a></li>
            <li><a href="">Собрания</a></li>
            <li><a href="">Праздник</a></li>
            <li><a href="">Еще</a></li>
        </ul>
    </div>
</div>

@foreach (var item1 in ViewBag.data)
{
<div class="midbackground">
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="wrapper">
                        <div class="card" style="width: 350px">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                                    <span class="text-secondary">https://bootdey.com</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                                    <span class="text-secondary">bootdey</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                                    <span class="text-secondary"></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                                    <span class="text-secondary">bootdey</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                                    <span class="text-secondary">bootdey</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3" style="width:780px">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="card-titl">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @item1.FirstName @item1.Name @item1.LastName
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="card-titl">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @item1.Email
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="card-titl">Gender</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @item1.Gender
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="card-titl">Birth</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @item1.Birth
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="card-titl">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Bay Area, San Francisco, CA
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="Name" asp-controller="Profile" asp-action="New_Comp">Добавить компанию</a>
                    <div class="row gutters-sm">
                        @foreach (var comp1 in ViewBag.company)
                        {

                            <div class="col-sm-6 mb-3">
                                <div class="card h-100" style="width:400px">
                                    <div class="card-body">
                                        <a class="Name" asp-area="" asp-controller="Profile" asp-action="DeleteCompany" asp-route-company_id="@comp1.Id_company">Удалить компанию</a>
                                        <a class="Name" asp-area="" asp-controller="Profile" asp-action="Edit_my_company" asp-route-id="@comp1.Id_company">Редактировать компанию</a>
                                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                                        <h5>@comp1.Id_company</h5>
                                        <h5>@comp1.Name</h5>
                                        <h5>@comp1.Description</h5>
                                    </div>
                                    <div>
                                        <a class="Name" asp-area="" asp-controller="Profile" asp-action="New_MeetUp" asp-route-id="@comp1.Id_company">Добавить meting</a>
                                        @foreach (var meetings1 in ViewBag.meetings)
                                        {
                                            if (meetings1.companyId_company == comp1.Id_company)
                                            {
                                                <section id="team">
                                                    <div class="card" style="background-image:linear-gradient(45deg, #48a219 0%, #1421ff 100%);height:400px;width:379px">
                                                        <div class="data">
                                                            <h2>@meetings1.Id_meetup</h2>
                                                            <i>@meetings1.Name</i>
                                                            <p>@meetings1.Type</p>
                                                            <p>@meetings1.companyId_company</p>
                                                            <p>@meetings1.StartofSelection</p>
                                                            <p>@meetings1.FinishofSelection</p>
                                                            <p>@meetings1.Adress</p>
                                                            <p>@meetings1.Cost</p>
                                                        </div>
                                                    </div>
                                                </section>
                                                <a class="Name" asp-area="" asp-controller="Profile" asp-action="Delete" asp-route-id="@meetings1.Id_meetup" asp-route-company_id="@comp1.Id_company">Удалить meting</a>
                                                <a class="Name" asp-area="" asp-controller="Profile" asp-action="Edit_my_meetup" asp-route-id="@meetings1.Id_meetup">Редактировать meting</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height:25px">

    </div>
</div>
}
